<div class="d-flex flex-wrap">
  <div [routerLink]="['../', roleCard.chartid]" *ngFor="let roleCard of roleCards" style="width:150px;height:120px" class="mat-elevation-z3 m-8 p-16 border-solid border-1" >
      <img class="matero-avatar" [src]="roleCard.name.touxiang" width="32" alt="avatar" />
    <div>姓名：{{roleCard.name.chartname}}</div>
    <div>年龄：{{roleCard.name.ages}}</div>
  </div>
</div>

<mat-paginator [length]="paginator.total"
               [pageSize]="paginator.pagesize"
               (page)="togglePage($event)"
               aria-label="Select page">
</mat-paginator>
