.mat-column-rate {
  justify-content: center;
}

.mat-table {
  height: 300px;
  overflow: auto;
}
.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 80px;
}

.inline-edit {
  width: 60px;
}
.checked-line {
  background-color: #3f51b5;
}

.rate-number{
  width: 30px;
  text-align: center;
}

.file-upload{
  width: 30%;
}

.info-fields{
  width: 70%;
}

.props-chart{
  width: 30%;
  height: 330px;
}

.base-props-fields{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 45%;
}

.advance-props-fields{
  display: flex;
  align-items: center;
  width: 45%;
}

.props-form{
  display: flex;align-items: center;
}
.props-wrap{
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
}
.props-icon{
  margin: 0 auto;
}

.align-items-center{
  align-items: center;
}

.rate-border{
  border: 1px dashed;
}

.max-width-fixed-200{
  max-width: 120px;
  width: 200px;
  white-space: nowrap;
}

.tips-icon{
  font-size: 16px;
  width: 18px;
  height: 20px;
}
.opt-width{
  width: 100%;
}

.skill-width{
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
  }

:host {
  ::ng-deep {

    .mat-tab-label {
      min-width: 60px;

    }
    .mat-tab-label[aria-posinset="1"]:first-child{
      margin-top: 56px;
    }

    .mat-tab-group {
      flex-direction: row !important;
    }

    .mat-tab-labels {
      flex-direction: column !important;

    }
    .mat-tab-label-active {
      border-right: 3px solid #3f51b5 !important;
    }

    .mat-ink-bar {
      display: none;
    }

    .mtx-progress-fill-success{
      color: #000;
    }
  }
}

@media only screen and (max-width: 1152px) {
  .file-upload{
    width: 100%;
  }

  .info-fields{
    width: 100%;
  }

  .props-chart{
    width: 100%;
    height: 280px;
  }

  .base-props-fields{
    width: 100%;
  }

  .advance-props-fields{
    width: 100%;
  }

  .props-wrap{
    width: 100%;
  }

  .props-icon{
    display: none;
  }

  .skill-width{
    width: 50%;
  }

  .opt-width{
    width: 50%;
  }

}
